* {
    margin: 0px;
}

.background {
    background-color: rgb(179, 51, 4);
}

nav {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: brown;
    padding: 30px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

nav p {
    font-weight: bold;
}

#linkEnd {
    font-size: 15px;
    color: yellow;
    text-decoration: none;
    justify-content: space-around;
}

a:link:visited {
    color: yellow;
}